body {
  font-family: "Georgia", "Courier New", sans-serif;
}

body {
  background-color: rgb(47, 111, 220);
}

.container.top {
  border-radius: 1.5rem;
  background: white;
}

.delete {
  margin-right: 15px;
}

input.mark-complete {
  float: right;
  margin-right: 15px;
}

#todo-list {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container.bottom {
  margin-top: 1.5rem;
}


button {
  background: #ededed;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

button:active {
  background: black;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.completed {
  text-decoration: line-through;
}

@media (min-width: 768px) {
  .container {
    width: 780px;
  }
}

.filtered-div {
  display: inline;
}

.filtered-div button {
  float: right;
  margin-left: 10px;
}

button.delete {
  float: right;
}
